obj/Debug/netcoreapp2.2/PrintService.csproj.CoreCompileInputs.cache
bin/Debug/netcoreapp2.2/PrintService.dll
bin/Debug/netcoreapp2.2/PrintService.pdb
bin/Debug/netcoreapp2.2/PrintService.xml
bin/Debug/netcoreapp2.2/PrintService.deps.json
bin/Debug/netcoreapp2.2/PrintService.runtimeconfig.json
bin/Debug/netcoreapp2.2/PrintService.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/GhostscriptBin/LICENCE
bin/Debug/netcoreapp2.2/GhostscriptBin/Readme.htm
bin/Debug/netcoreapp2.2/GhostscriptBin/epstool.htm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsdll32.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsdll32.lib
bin/Debug/netcoreapp2.2/GhostscriptBin/gsprint.exe
bin/Debug/netcoreapp2.2/GhostscriptBin/gsprint.htm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsview.css
bin/Debug/netcoreapp2.2/GhostscriptBin/gsview32.exe
bin/Debug/netcoreapp2.2/GhostscriptBin/gsview32.ini
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewct.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewde.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewen.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewes.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewfr.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewgr.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewit.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewnl.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewru.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewse.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsviewsk.chm
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32ct.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32de.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32es.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32fr.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32gr.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32it.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32nl.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32ru.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32se.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvw32sk.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/gsvwrg32.exe
bin/Debug/netcoreapp2.2/GhostscriptBin/gswin32.exe
bin/Debug/netcoreapp2.2/GhostscriptBin/gswin32c.exe
bin/Debug/netcoreapp2.2/GhostscriptBin/gvwgs32.exe
bin/Debug/netcoreapp2.2/GhostscriptBin/libbz2.dll
bin/Debug/netcoreapp2.2/GhostscriptBin/printer.ini
bin/Debug/netcoreapp2.2/GhostscriptBin/regorder.txt
bin/Debug/netcoreapp2.2/GhostscriptBin/uninstal.txt
bin/Debug/netcoreapp2.2/GhostscriptBin/uninstgs.exe
bin/Debug/netcoreapp2.2/GhostscriptBin/zlib32.dll
obj/PrintService.csproj.nuget.cache
obj/PrintService.csproj.nuget.g.props
obj/PrintService.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/PrintService.dll
obj/Debug/netcoreapp2.2/PrintService.pdb
obj/Debug/netcoreapp2.2/PrintService.xml
obj/Debug/netcoreapp2.2/PrintService.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/PrintService.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/PrintService.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/PrintService.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/PrintService.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/PrintService.assets.cache
obj/Debug/netcoreapp2.2/PrintService.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/PrintService.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/PrintService.csprojResolveAssemblyReference.cache
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.2/project.razor.json
